nav{
    background-color: #0f172a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1::first-letter {
    font-size: 50px;
    color: goldenrod;
    font-style: italic;
}

h1{
    font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
 'Lucida Grande',
 'Lucida Sans', Arial, sans-serif;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}



nav a:hover{
    background-color: rgb(76, 76, 151);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: bold;
}


h2{
    font-size: 60px;
    margin-bottom: 10px;
}

.hero-image {
  display: flex;
  justify-content: right
}

.hero-image img {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  border-radius: 150%;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}


.about,
.services,
.portfolio,
.experience,
.contact {
  padding: 40px 20px;
}

.services .cards,
.portfolio .grid,
.experience .timeline {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about{
 background-color: #0f172a;
 padding: 20px;
 border-radius: 10px;
color: white;
}


.card, .item {
  background-color: #0f172a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 30%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  background: gold;
  border: none;
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: gray;
}













