nav {
    background-color: rgb(85, 137, 188);
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    background-color: rgb(85, 137, 188);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;


}

button:hover {
    background-color: rgb(65, 117, 168);
}













